<body>
    <header>
        <app-hamburguer></app-hamburguer>
    </header>       
    
    <main>
        <div id="frase">
            <h1>Dashboard FORD</h1>
        </div>

        <div class="informacoes">


            <div class="veiculo">
                <p>Veículo</p>
                <select class="opcoes" name="" id="" (change)="veiculoSelecionado($event)">
                    <option selected disabled hidden value="">Selecione uma opção</option>
                    <option *ngFor="let v of vehicles" [value]="v.id">
                        {{ v.vehicle }}
                    </option>
                </select>
            </div>
 

            <div class="totalDeVendas">
                <p>Total de Vendas</p>
                <span id="numeros"> {{Selecionado?.volumetotal || 0}} </span>
                <span>Und.</span>
            </div>


            <div  class="conectados">
                <p>Conectados</p>
                <span id="numeros"> {{Selecionado?.connected || 0}} </span>
                <span>Und.</span>
            </div>


            <div class="updateSoftware">
                <p>Update Software</p>
                <span id="numeros"> {{Selecionado?.softwareUpdates || 0}} </span>
                <span>Und.</span>
            </div>


        </div>


        <div class="carros">
            <img *ngIf="Selecionado" [src]="Selecionado.img" [alt]="Selecionado.vehicle">
        </div>


        <div class="tabela">
            <table>
                <thead>
                    <tr>
                        <th>Código - vin</th>
                        <th>Odrômetro</th>
                        <th>Nível de Combustivel</th>
                        <th>Status</th>
                        <th>lat.</th>
                        <th>Long.</th>
                    </tr>
                </thead>
                   
                <tbody>
                     <tr>
                        <td><input type="text" [(ngModel)]="vinDigitado" (keyup.enter)="buscarPorVin()" placeholder="Digite o código vin"></td>
                            <td>{{ infoVeiculo?.odometro || 0 }}KM</td>
                            <td>{{ infoVeiculo?.nivelCombustivel || 0 }}%</td>
                            <td>{{ infoVeiculo?.status || 0 }}</td>
                            <td>{{ infoVeiculo?.lat || 0 }}</td>
                            <td>{{ infoVeiculo?.long || 0 }}</td>
                    </tr>
                </tbody>
                <tfoot class="ada">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tfoot>
            </table>
        </div>

    </main>
    
</body>
